src/main/wsdl/ChallengeService2.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://challenge.entelect.co.za/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://challenge.entelect.co.za/" name="ChallengeService">
<types>
<xsd:schema>
<xsd:import namespace="http://challenge.entelect.co.za/" schemaLocation="http://127.0.0.1:7070/Challenge/ChallengeService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getStatus">
<part name="parameters" element="tns:getStatus"></part>
</message>
<message name="getStatusResponse">
<part name="parameters" element="tns:getStatusResponse"></part>
</message>
<message name="setActions">
<part name="parameters" element="tns:setActions"></part>
</message>
<message name="setActionsResponse">
<part name="parameters" element="tns:setActionsResponse"></part>
</message>
<message name="EndOfGameException">
<part name="fault" element="tns:EndOfGameException"></part>
</message>
<message name="setAction">
<part name="parameters" element="tns:setAction"></part>
</message>
<message name="setActionResponse">
<part name="parameters" element="tns:setActionResponse"></part>
</message>
<message name="login">
<part name="parameters" element="tns:login"></part>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"></part>
</message>
<message name="NoBlameException">
<part name="fault" element="tns:NoBlameException"></part>
</message>
<portType name="Challenge">
<operation name="getStatus">
<input wsam:Action="http://challenge.entelect.co.za/Challenge/getStatusRequest" message="tns:getStatus"></input>
<output wsam:Action="http://challenge.entelect.co.za/Challenge/getStatusResponse" message="tns:getStatusResponse"></output>
</operation>
<operation name="setActions">
<input wsam:Action="http://challenge.entelect.co.za/Challenge/setActionsRequest" message="tns:setActions"></input>
<output wsam:Action="http://challenge.entelect.co.za/Challenge/setActionsResponse" message="tns:setActionsResponse"></output>
<fault message="tns:EndOfGameException" name="EndOfGameException" wsam:Action="http://challenge.entelect.co.za/Challenge/setActions/Fault/EndOfGameException"></fault>
</operation>
<operation name="setAction">
<input wsam:Action="http://challenge.entelect.co.za/Challenge/setActionRequest" message="tns:setAction"></input>
<output wsam:Action="http://challenge.entelect.co.za/Challenge/setActionResponse" message="tns:setActionResponse"></output>
<fault message="tns:EndOfGameException" name="EndOfGameException" wsam:Action="http://challenge.entelect.co.za/Challenge/setAction/Fault/EndOfGameException"></fault>
</operation>
<operation name="login">
<input wsam:Action="http://challenge.entelect.co.za/Challenge/loginRequest" message="tns:login"></input>
<output wsam:Action="http://challenge.entelect.co.za/Challenge/loginResponse" message="tns:loginResponse"></output>
<fault message="tns:EndOfGameException" name="EndOfGameException" wsam:Action="http://challenge.entelect.co.za/Challenge/login/Fault/EndOfGameException"></fault>
<fault message="tns:NoBlameException" name="NoBlameException" wsam:Action="http://challenge.entelect.co.za/Challenge/login/Fault/NoBlameException"></fault>
</operation>
</portType>
<binding name="ChallengePortBinding" type="tns:Challenge">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setActions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="EndOfGameException">
<soap:fault name="EndOfGameException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setAction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="EndOfGameException">
<soap:fault name="EndOfGameException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="EndOfGameException">
<soap:fault name="EndOfGameException" use="literal"></soap:fault>
</fault>
<fault name="NoBlameException">
<soap:fault name="NoBlameException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="ChallengeService">
<port name="ChallengePort" binding="tns:ChallengePortBinding">
<soap:address location="http://127.0.0.1:7070/Challenge/ChallengeService"></soap:address>
</port>
</service>
</definitions>